<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('build/home.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        {% if not app.user %}
            <a class="navbar-brand" href="/"><img src="{{ asset('img/logo.png') }}"></a>
        {% else %}
            <a class="navbar-brand" href="/">Bienvenue {{ app.user.username }}</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('search') }}">Rechercher<span class="sr-only">(current)</span></a>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link disabled">Proposer un trajet</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('trajet') }}">Proposer un trajet</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                    <a class="nav-link disabled">Profile</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {{ path('profile',{id: app.user.id}) }}">Profile</a>
                    </li>

                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {{ path('Admin') }}">Admin</a>
                    </li>
                {% endif %}
            </ul>

            {% if not app.user %}
                <li class="navBtn">
                    <a type="button" href="{{ path('security_registration') }}" class="btnOfNav">Inscription</a>
                </li>
                <li class="navBtn">
                    <a type="button" href="{{ path('security_login') }}" class="btnOfNav">Connexion</a>
                </li>
        
            {% else %}
                <li class="navBtn">
                    <a type="button " href="{{ path('security_logout') }}" class="btnOfNav">Deconnexion</a>
                </li>
            {% endif %}

        </div>
    </nav>
        {% block body %}{% endblock %}

    <script src="{{ asset('build/app.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>

    {% block javascripts %}

            {% endblock %}
    </body>
</html>
