{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig.' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/home.css') }}">
{% endblock %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

    <title>Accueil</title>
    </head>
    <body class="corps">
    <div class="column">
        <div class="boite-lateral">
            <div class="box-img"><img src="{{ asset('img/11.jpg') }}" alt="#"></div>
            <div class="bloc-text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam, sit at accusamus laboriosam eaque impedit iste eos iure corporis praesentium consequatur eveniet cum, ab nihil fuga perspiciatis a ullam.
                    Atque qui omnis eius corporis culpa molestiae itaque consequatur pariatur magnam nemo maiores quam illo, eveniet saepe deleniti vero adipisci voluptate? Aspernatur possimus similique natus ratione molestiae qui consectetur quasi!
                    Et impedit neque ab cum dignissimos explicabo maiores a nihil at quos, minima laudantium quam illo itaque maxime hic distinctio sit, minus voluptatibus non. Modi natus sequi accusamus in non.
                </p>
            </div>
        </div>
    </div>
    <div class="call-to-action">
        <h2>Vous voyagez seul ?</h2>
        <a class="lientmort" href="">Proposez des places dans votre voiture</a>
    </div>


    <div class="column boite-ligne">

        <div class="carac-box"><!--boite en column-->
            <div class=" img-cara"><img src="img/volant.svg" alt=""></div>
            <div class=" text-cara"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt atque corrupti cum molestiae hic facilis accusantium magnam, ipsum voluptatum tempore quos doloribus, laboriosam eaque unde tempora magni, quaerat quis earum?</p></div>
        </div>

        <div class="carac-box"><!--boite en column-->
            <div class=" img-cara"><img src="img/volant.svg" alt=""></div>
            <div class=" text-cara"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt atque corrupti cum molestiae hic facilis accusantium magnam, ipsum voluptatum tempore quos doloribus, laboriosam eaque unde tempora magni, quaerat quis earum?</p></div>
        </div>

        <div class="carac-box"><!--boite en column-->
            <div class=" img-cara"><img src="img/volant.svg" alt=""></div>
            <div class=" text-cara"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt atque corrupti cum molestiae hic facilis accusantium magnam, ipsum voluptatum tempore quos doloribus, laboriosam eaque unde tempora magni, quaerat quis earum?</p></div>
        </div>

    </div>

<div class="container-fiche">
    <div>
        {{ form_start(form) }}
        <div>
            <div class="container-comeback"><!-- GROSSE BOITE SAH-->
                <div class="place-from-to"><!-- BOITE COME AND BACK-->
                    <div class="input-location">
                        {{ form_row(form.Depart) }}
                    </div>
                    <div class="input-location">
                        {{ form_row(form.Arriver) }}
                    </div>
                </div>
                <div class="input-from-to">
                    <button class="btn btn-info ">Rechercher</button>
                </div>
            </div>    
        </div>
        {{ form_end(form) }}
    </div>
    {% if app.request.method == 'GET'%}
    <div class="column">
           {% if trajet|length == 0 %}
                <h3 class=" result-sentence">Aucun Résultat pour vôtre recherche</h3>

            {% else %}
                <h3 class=" result-sentence">Résultat de votre recherche :</h3>
        <div class="container-result">

            {% for trajet in trajet  %}
                <div class="block-card ">
                    <div class="img-pp">
                        <img src="/images/users/{{ trajet.conducteurid.filename }}" alt="card_img_top"></div>
                    <div class="whitee"><!--carré blanc-->
                        <div class="pp-text">
                            <div>
                                <h3>{{ trajet.conducteurid.username }}</h3>
                                <hr class="sub-bar">
                            </div>
                            <div class="travel-box">
                                <p>Départ :  {{ trajet.LieuDepart }} </p>
                                <p>Arriver : {{ trajet.LieuArrived }} </p>
                            </div>
                            <p class="travel-time">{{ trajet.HeureDepart |date("m/d/Y")}} </p>

                            <div class="fiche-bloc-reso">
                                <hr>
                                <div class="fiche-reso">
                                    <img src="{{ asset('img/twitter.png') }}" alt="réseau">
                                    <img src="{{ asset('img/youtube.png') }}" alt="réseau">
                                    <img src="{{ asset('img/facebook.png') }}" alt="réseau">
                                </div>
                                <hr>
                            </div>

                            <div class="line-car">
                                <img src="img/tuture.JPG" alt=""><p>{{ trajet.conducteurid.car.model }}</p>
                            </div>
                            <a href="{{ path('Trajet',{id: trajet.id}) }}" class="text-center" >Rejoindre</a>

                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    </div>
        <div class="pagination">
            {{ knp_pagination_render(trajet) }}
        </div>
</div>

    </div>
    
    </body>
    </html>
{% endblock %}
