{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/trajetuser.css') }}">
{% endblock %}
{% block title %}Trajet!{% endblock %}

{% block body %}


<h1>teste</h1>
    <div class="container-details">
        <div class="block-card ">
            <div class="img-pp">
                <img src="/images/users/{{ trajet.conducteurid.filename }}" alt="card_img_top"></div>
            <div class="whitee"><!--carré blanc-->
                <div class="pp-text">
                    <div>
                        <h3>{{ trajet.conducteurid.username }}</h3>
                        <hr class="sub-bar">
                    </div>
                    <div class="travel-box">
                        <p>Départ :  {{ trajet.LieuDepart }} </p>
                        <p>Arriver : {{ trajet.LieuArrived }} </p>
                    </div>
                    <p class="travel-time">{{ trajet.HeureDepart |date("m/d/Y")}} //  {{ trajet.HeureArrived|date("m/d/Y") }}</p>

                    <div class="fiche-bloc-reso">
                        <hr>
                        <div class="fiche-reso">
                            <img src="img/twitter.png" alt="réseau">
                            <img src="img/youtube.png" alt="réseau">
                            <img src="img/facebook.png" alt="réseau">
                        </div>
                        <hr>
                    </div>

                    <div class="line-car">
                        <img src="img/tuture.JPG" alt=""><p>{{ trajet.conducteurid.car.model }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>    
<div class="wafack">
    <div class="container box-coms">
        {% for coment in coment %}
        <div class="grey-box">
            <div>
                <h3>{{ coment.author }}</h3>
                <span>{{ coment.createdAd |date('d/m/y')}}</span>
            </div>
            <div class="content-text">
                <p>{{ coment.Contenu }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

{% if app.user  %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.author,{'attr':{'placeholder': "votre pseudo"}}) }}
        {{ form_row(form.Contenu,{'attr':{'placeholder': "votre commentaire"}}) }}
    <div class="wesh">
        <button type="submit" class="button-propal">Publier</button>
    </div>
        {{ form_end(form) }}
    </div>

    {% else %}
        <h2>Vous ne pouvez pas commentez car il faut vous connecter</h2>
    
    {% endif %}
</div>
{% endblock %}
