{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/trajetuser.css') }}">
{% endblock %}
{% block title %}Trajet!{% endblock %}

{% block body %}

<h1>Le trajet de {{ trajet.conducteurid.username }} </h1>
    <div class="container-details">
        <div class="block-card ">
            <div class="img-pp">
                <img src="/images/users/{{ trajet.conducteurid.filename }}" alt="card_img_top"></div>
            <div class="whitee"><!--carré blanc-->
                <div class="pp-text">
                    <div>
                        <h3>{{ trajet.conducteurid.username }}</h3>
                        <hr class="sub-bar">
                    </div>
                    <div class="travel-box">
                        <p>Départ :  {{ trajet.LieuDepart }} </p>
                        <p>Arriver : {{ trajet.LieuArrived }} </p>
                    </div>
                    <p class="travel-time">{{ trajet.HeureDepart |date("m/d/Y")}} </p>

                    <div class="fiche-bloc-reso">
                        <hr>
                        <div class="fiche-reso">
                            <img src="{{ asset('img/twitter.png') }}" alt="réseau">
                            <img src="{{ asset('img/youtube.png') }}" alt="réseau">
                            <img src="{{ asset('img/facebook.png') }}" alt="réseau">
                        </div>
                        <hr>
                    </div>

                    <div class="line-car">
                        <img src="{{ asset('img/tuture.JPG') }}" alt=""><p>{{ trajet.conducteurid.car.model }}</p>
                    </div>
                    <p class="passengers-are">Les passagers sont :</p>
                    {% for passager in trajet.passager %}
                        <div class="container-hobbies">
                            <p class="passager-name">{{ passager.username }}</p>
                            <p>Ses Hobbies en commun sont :</p>
                            <div class="hobbies-box">
                                {% set ind = loop.index0 %}
                                {% for hobby in hobbies[ind] %}
                                    <li>{{ hobby.nomHobby }}</li>
                                {% endfor %}
                            </div>

                        </div>
                    {% endfor %}

                    {% if trajet.passager|length < 3 %}
                    <form action="{{ path('Rejoindre',{id: trajet.id}) }}" method="post">
                        <button type="submit" class="button-propal">Rejoindre</button>
                    </form>
                    {% else %}
                        <div class="line-car">
                            <p>le trajet est complet</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
<div class="coms-container">
    <div class="container box-coms">
    <h1>{{ coment | length }} comentaires :</h1>
        {% for coment in coment %}
        <div class="grey-box">
            <div>
                <h3>{{ coment.author }}</h3>
                <span>{{ coment.createdAd |date('d/m/y')}}</span>
            </div>
            <div class="content-text">
                <p>{{ coment.Contenu }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

{% if app.user  %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.author,{'attr':{'placeholder': "votre pseudo"}}) }}
        {{ form_row(form.Contenu,{'attr':{'placeholder': "votre commentaire"}}) }}
    <div class="btn-bloc">
        <button type="submit" class="button-propal">Publier</button>
    </div>
        {{ form_end(form) }}
    </div>

    {% else %}
        <h2>Vous ne pouvez pas commentez car il faut vous connecter</h2>
    
    {% endif %}
</div>
    </div>
{% endblock %}
