{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/trajetuser.css') }}">
{% endblock %}
{% block title %}Trajet!{% endblock %}

{% block body %}

<h1>Le trajet de {{ trajet.conducteurid.username }} </h1>
    <div>
        <div class="detail-result">
            <div class="container-pp">
                <img src="/images/users/{{ trajet.conducteurid.filename }}" alt="card_img_top"></div>
            <div ><!--carré blanc-->
                <div>
                    <div>
                        <h3 class="driver-name">{{ trajet.conducteurid.username }}</h3>
                        <hr class="underline-driver">
                    </div>
                    <div class="startngo">
                        <p>Départ :  {{ trajet.LieuDepart }} </p>
                        <p>Arriver : {{ trajet.LieuArrived }} </p>
                    </div>
                    <p class="travel-time">{{ trajet.HeureDepart |date("m/d/Y")}} </p>

                    <div class="bloc-hr">
                        <hr>
                        <div class="social-container">
                            <img src="{{ asset('img/twitter.png') }}" alt="réseau">
                            <img src="{{ asset('img/youtube.png') }}" alt="réseau">
                            <img src="{{ asset('img/facebook.png') }}" alt="réseau">
                        </div>
                        <hr>
                    </div>

                    <div class="which-car">
                        <img src="{{ asset('img/tuture.JPG') }}" alt=""><p>{{ trajet.conducteurid.car.model }}</p>
                    </div>

                    <p class="passengers-are">Les passagers sont :</p>
                    <div class="bloc-passengers-hobbies">

                        {% for passager in trajet.passager %}
                            <div class="container-hobbies">
                                <p class="passager-name">{{ passager.username }}</p>
                                <p>Ses Hobbies en commun sont :</p>
                                <div class="hobbies-box">
                                    {% set ind = loop.index0 %}
                                    {% for hobby in hobbies[ind] %}
                                        <li>{{ hobby.nomHobby }}</li>
                                    {% endfor %}
                                </div>

                            </div>
                        {% endfor %}
                    </div>


                    {% if trajet.passager|length < 3 %}
                    <form action="{{ path('Rejoindre',{id: trajet.id}) }}" method="post">
                        <button type="submit" class="button-propal">Rejoindre</button>
                    </form>
                    {% else %}
                        <div>
                            <h3 class="to-much-ppl">le trajet est complet</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


<!--Coms part--><!--Coms part--><!--Coms part--><!--Coms part--><!--Coms part--><!--Coms part--><!--Coms part-->


<div class="coms-container">
    <div class="container box-coms">
    <h1>{{ coment | length }} comentaires :</h1>
        {% for coment in coment %}
        <div class="grey-box">
            <div>
                <h3>{{ coment.author }}</h3>
                <span>{{ coment.createdAd |date('d/m/y')}}</span>
            </div>
            <div class="content-text">
                <p>{{ coment.Contenu }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

{% if app.user  %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.author,{'attr':{'placeholder': "votre pseudo"}}) }}
        {{ form_row(form.Contenu,{'attr':{'placeholder': "votre commentaire"}}) }}
    <div class="btn-bloc">
        <button type="submit" class="button-propal">Publier</button>
    </div>
        {{ form_end(form) }}
    </div>

    {% else %}
        <h2>Vous ne pouvez pas commentez car il faut vous connecter</h2>
    
    {% endif %}
</div>
    </div>
{% endblock %}
