{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/register.css') }}">
{% endblock %}



{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

<div class="containerFormulaire">
<div class="box">
<h1 class="container">Inscription</h1>

    {{ form_start(form) }}


    {{ form_row(form.username,{'label':'Login','attr':{'placeholder':'Login'}}) }}
    {{ form_row(form.email,{'label':'Email','attr':{'placeholder':'Adress email'}}) }}
    {{ form_row(form.password,{'label':'Mot de passe ','attr':{'placeholder':'Mot de passe'}}) }}
    {{ form_row(form.confirm_password,{'label':'Confirme mot de passe','attr':{'placeholder':'Confirme mot de passe'}}) }}


    <button type="submit" class="btn btn-outline-primary">Inscription</button>
    {{ form_end(form) }}

   </div>
    </div>
{% endblock %}
